<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <import resource="classpath:spring-redis.xml"/>

    <aop:config proxy-target-class="true"></aop:config>



    <!--配置shiroFilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/login"></property>
        <property name="successUrl" value="/index.jsp"></property>
        <property name="filters">
            <map>
                <entry key="logout" value-ref="logoutFilter"/>
            </map>
        </property>

        <property name="filterChainDefinitions">
            <value>
                /share=authc
                /logout=logout
            </value>
        </property>
    </bean>

    <bean id="logoutFilter" class="cn.hlq.filter.SystemLogoutFilter">
    </bean>
    <bean id ="advisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" >
        <property name="proxyTargetClass" value="true"></property>
    </bean>



    <!--sessionId 生成器-->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    <!--session 创建、删除、查询，改-->
    <bean id="myJedisShiroSessionRepository" class="cn.hlq.common.utils.session.MyJedisShiroSessionRepository">
        <property name="redisUtil" ref="redisUtil"/>
    </bean>
    <!--session 的监听生命周期-->
    <bean id="customShiroSessionDao" class="cn.hlq.common.utils.session.CustomShiroSessionDao">
        <property name="jedisShiroSessionRepository" ref="myJedisShiroSessionRepository"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="vvv_shopmall"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
        <!--<property name="name" value="shiro.session.id"/>-->
        <property name="domain" value="shopmall.com"/>
        <!--<property name="path" value=""/>-->
    </bean>

   <bean id="customerSessionListener" class="cn.hlq.common.utils.session.CustomerSessionListener"/>
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="sessionDAO" ref="customShiroSessionDao"/>
        <property name="sessionListeners">
            <list>
                <ref bean="customerSessionListener"/>
            </list>
        </property>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="interval" value="3600000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg name="redisOperations" ref="redisTemplate"/>
        <property name="usePrefix" value="true"/>
        <property name="expires">
            <map key-type="java.lang.String" value-type="java.lang.Long">
                <entry key="halfHour" value="1800"/>
                <entry key="hour" value="3600"/>
                <entry key="oneDay" value="86400"/>
                <entry key="itzixiCaptcha" value="500"/>
                <entry key="authenticationCache" value="1800"/>
                <entry key="authorizationCache" value="1800"/>
                <entry key="activeSessionCache" value="1800"/>
            </map>
        </property>
    </bean>


    <bean id="customerCacheManager" class="cn.hlq.common.utils.cache.CustomerCacheManager">
        <property name="cacheManager" ref="redisCacheManager"/>
    </bean>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <bean id="customRealm" class="cn.hlq.auth.CustomRealm"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="customRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="customerCacheManager"/>
    </bean>
</beans>