<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hlq.dao.PropertyNameMapper" >
  <resultMap id="BaseResultMap" type="cn.hlq.common.pojo.PropertyName" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="goods_category_id" property="goodsCategoryId" jdbcType="INTEGER" />
    <result column="parent_category_id" property="parentCategoryId" jdbcType="INTEGER" />
    <result column="gtm_create_time" property="gtmCreateTime" jdbcType="BIGINT" />
    <result column="gtm_modify_time" property="gtmModifyTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, goods_category_id, parent_category_id, gtm_create_time, gtm_modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from propertyname
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from propertyname
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hlq.common.pojo.PropertyName" >
    insert into propertyname (id, name, goods_category_id, 
      parent_category_id, gtm_create_time, gtm_modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{goodsCategoryId,jdbcType=INTEGER}, 
      #{parentCategoryId,jdbcType=INTEGER}, #{gtmCreateTime,jdbcType=BIGINT}, #{gtmModifyTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hlq.common.pojo.PropertyName" >
    insert into propertyname
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="goodsCategoryId != null" >
        goods_category_id,
      </if>
      <if test="parentCategoryId != null" >
        parent_category_id,
      </if>
      <if test="gtmCreateTime != null" >
        gtm_create_time,
      </if>
      <if test="gtmModifyTime != null" >
        gtm_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategoryId != null" >
        #{goodsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="parentCategoryId != null" >
        #{parentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="gtmCreateTime != null" >
        #{gtmCreateTime,jdbcType=BIGINT},
      </if>
      <if test="gtmModifyTime != null" >
        #{gtmModifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hlq.common.pojo.PropertyName" >
    update propertyname
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategoryId != null" >
        goods_category_id = #{goodsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="parentCategoryId != null" >
        parent_category_id = #{parentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="gtmCreateTime != null" >
        gtm_create_time = #{gtmCreateTime,jdbcType=BIGINT},
      </if>
      <if test="gtmModifyTime != null" >
        gtm_modify_time = #{gtmModifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hlq.common.pojo.PropertyName" >
    update propertyname
    set name = #{name,jdbcType=VARCHAR},
      goods_category_id = #{goodsCategoryId,jdbcType=INTEGER},
      parent_category_id = #{parentCategoryId,jdbcType=INTEGER},
      gtm_create_time = #{gtmCreateTime,jdbcType=BIGINT},
      gtm_modify_time = #{gtmModifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>