<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hlq.dao.PropertyValueMapper">
  <resultMap id="BaseResultMap" type="cn.hlq.common.pojo.PropertyValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="property_name_id" jdbcType="INTEGER" property="propertyNameId" />
    <result column="gtm_create_time" jdbcType="BIGINT" property="gtmCreateTime" />
    <result column="gtm_modify_time" jdbcType="BIGINT" property="gtmModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, value, property_name_id, gtm_create_time, gtm_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from propertyvalue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from propertyvalue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hlq.common.pojo.PropertyValue">
    insert into propertyvalue (id, value, property_name_id, 
      gtm_create_time, gtm_modify_time)
    values (#{id,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{propertyNameId,jdbcType=INTEGER}, 
      #{gtmCreateTime,jdbcType=BIGINT}, #{gtmModifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.hlq.common.pojo.PropertyValue">
    insert into propertyvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="propertyNameId != null">
        property_name_id,
      </if>
      <if test="gtmCreateTime != null">
        gtm_create_time,
      </if>
      <if test="gtmModifyTime != null">
        gtm_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="propertyNameId != null">
        #{propertyNameId,jdbcType=INTEGER},
      </if>
      <if test="gtmCreateTime != null">
        #{gtmCreateTime,jdbcType=BIGINT},
      </if>
      <if test="gtmModifyTime != null">
        #{gtmModifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hlq.common.pojo.PropertyValue">
    update propertyvalue
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="propertyNameId != null">
        property_name_id = #{propertyNameId,jdbcType=INTEGER},
      </if>
      <if test="gtmCreateTime != null">
        gtm_create_time = #{gtmCreateTime,jdbcType=BIGINT},
      </if>
      <if test="gtmModifyTime != null">
        gtm_modify_time = #{gtmModifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hlq.common.pojo.PropertyValue">
    update propertyvalue
    set value = #{value,jdbcType=VARCHAR},
      property_name_id = #{propertyNameId,jdbcType=INTEGER},
      gtm_create_time = #{gtmCreateTime,jdbcType=BIGINT},
      gtm_modify_time = #{gtmModifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>